//
// Подключение всех шрифтов на сайте
// Генерация шрифтов с помощью http://everythingfonts.com/font-face
// --------------------------------------------------


// DINCyr Medium
// -------------------------
@font-face {
  font-family: 'DinCyMd';
  src: url('/assets/static/fonts/dincyr_medium/DinCyMd.eot');
  src: url('/assets/static/fonts/dincyr_medium/DinCyMd.eot') format('embedded-opentype'),
  url('/assets/static/fonts/dincyr_medium/DinCyMd.woff2') format('woff2'),
  url('/assets/static/fonts/dincyr_medium/DinCyMd.woff') format('woff'),
  url('/assets/static/fonts/dincyr_medium/DinCyMd.ttf') format('truetype'),
  url('/assets/static/fonts/dincyr_medium/DinCyMd.svg#DinCyMd') format('svg');
}


// DINCyr Medium Alternate
// -------------------------
@font-face {
  font-family: 'DinCyMdA';
  src: url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.eot');
  src: url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.eot') format('embedded-opentype'),
  url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.woff2') format('woff2'),
  url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.woff') format('woff'),
  url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.ttf') format('truetype'),
  url('/assets/static/fonts/dincyr_medium_alternate/DinCyMdA.svg#DinCyMdA') format('svg');
}

// DINCyr Light Regular
// -------------------------
@font-face {
  font-family: 'DinCyLt';
  src: url('/assets/static/fonts/dincyr_light/DinCyLt.eot');
  src: url('/assets/static/fonts/dincyr_light/DinCyLt.eot') format('embedded-opentype'),
  url('/assets/static/fonts/dincyr_light/DinCyLt.woff2') format('woff2'),
  url('/assets/static/fonts/dincyr_light/DinCyLt.woff') format('woff'),
  url('/assets/static/fonts/dincyr_light/DinCyLt.ttf') format('truetype'),
  url('/assets/static/fonts/dincyr_light/DinCyLt.svg#DinCyRg') format('svg');
}



// DINCyr Regular
// -------------------------
@font-face {
  font-family: 'DinCyRg';
  src: url('/assets/static/fonts/dincyr_regular/DinCyRg.eot');
  src: url('/assets/static/fonts/dincyr_regular/DinCyRg.eot') format('embedded-opentype'),
  url('/assets/static/fonts/dincyr_regular/DinCyRg.woff2') format('woff2'),
  url('/assets/static/fonts/dincyr_regular/DinCyRg.woff') format('woff'),
  url('/assets/static/fonts/dincyr_regular/DinCyRg.ttf') format('truetype'),
  url('/assets/static/fonts/dincyr_regular/DinCyRg.svg#DinCyRg') format('svg');
}


// DINCyr Regular Bold
// -------------------------
@font-face {
  font-family: 'DinCyRg';
  src: url('/assets/static/fonts/dincyr_bold/DinCyBd.eot');
  src: url('/assets/static/fonts/dincyr_bold/DinCyBd.eot') format('embedded-opentype'),
  url('/assets/static/fonts/dincyr_bold/DinCyBd.woff2') format('woff2'),
  url('/assets/static/fonts/dincyr_bold/DinCyBd.woff') format('woff'),
  url('/assets/static/fonts/dincyr_bold/DinCyBd.ttf') format('truetype'),
  url('/assets/static/fonts/dincyr_bold/DinCyBd.svg#DinCyRg') format('svg');
  font-weight: bold;
}


// Различные размеры шрифтов
.fontsize15 {
  font-size: 15px !important;
}
