/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@affiche_icon-name: affiche_icon;
@affiche_icon-x: 171px;
@affiche_icon-y: 79px;
@affiche_icon-offset-x: -171px;
@affiche_icon-offset-y: -79px;
@affiche_icon-width: 18px;
@affiche_icon-height: 12px;
@affiche_icon-total-width: 201px;
@affiche_icon-total-height: 200px;
@affiche_icon-image: '/assets/static/images/sprites/sprites.png';
@affiche_icon: 171px 79px -171px -79px 18px 12px 201px 200px '/assets/static/images/sprites/sprites.png' affiche_icon;
@arrow-down-name: arrow-down;
@arrow-down-x: 142px;
@arrow-down-y: 126px;
@arrow-down-offset-x: -142px;
@arrow-down-offset-y: -126px;
@arrow-down-width: 17px;
@arrow-down-height: 11px;
@arrow-down-total-width: 201px;
@arrow-down-total-height: 200px;
@arrow-down-image: '/assets/static/images/sprites/sprites.png';
@arrow-down: 142px 126px -142px -126px 17px 11px 201px 200px '/assets/static/images/sprites/sprites.png' arrow-down;
@arrow-up-name: arrow-up;
@arrow-up-x: 51px;
@arrow-up-y: 183px;
@arrow-up-offset-x: -51px;
@arrow-up-offset-y: -183px;
@arrow-up-width: 17px;
@arrow-up-height: 11px;
@arrow-up-total-width: 201px;
@arrow-up-total-height: 200px;
@arrow-up-image: '/assets/static/images/sprites/sprites.png';
@arrow-up: 51px 183px -51px -183px 17px 11px 201px 200px '/assets/static/images/sprites/sprites.png' arrow-up;
@calendar-name: calendar;
@calendar-x: 174px;
@calendar-y: 41px;
@calendar-offset-x: -174px;
@calendar-offset-y: -41px;
@calendar-width: 16px;
@calendar-height: 16px;
@calendar-total-width: 201px;
@calendar-total-height: 200px;
@calendar-image: '/assets/static/images/sprites/sprites.png';
@calendar: 174px 41px -174px -41px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' calendar;
@call-name: call;
@call-x: 89px;
@call-y: 138px;
@call-offset-x: -89px;
@call-offset-y: -138px;
@call-width: 18px;
@call-height: 18px;
@call-total-width: 201px;
@call-total-height: 200px;
@call-image: '/assets/static/images/sprites/sprites.png';
@call: 89px 138px -89px -138px 18px 18px 201px 200px '/assets/static/images/sprites/sprites.png' call;
@collection_next-name: collection_next;
@collection_next-x: 40px;
@collection_next-y: 170px;
@collection_next-offset-x: -40px;
@collection_next-offset-y: -170px;
@collection_next-width: 11px;
@collection_next-height: 17px;
@collection_next-total-width: 201px;
@collection_next-total-height: 200px;
@collection_next-image: '/assets/static/images/sprites/sprites.png';
@collection_next: 40px 170px -40px -170px 11px 17px 201px 200px '/assets/static/images/sprites/sprites.png' collection_next;
@collection_prev-name: collection_prev;
@collection_prev-x: 107px;
@collection_prev-y: 138px;
@collection_prev-offset-x: -107px;
@collection_prev-offset-y: -138px;
@collection_prev-width: 11px;
@collection_prev-height: 17px;
@collection_prev-total-width: 201px;
@collection_prev-total-height: 200px;
@collection_prev-image: '/assets/static/images/sprites/sprites.png';
@collection_prev: 107px 138px -107px -138px 11px 17px 201px 200px '/assets/static/images/sprites/sprites.png' collection_prev;
@download-name: download;
@download-x: 142px;
@download-y: 32px;
@download-offset-x: -142px;
@download-offset-y: -32px;
@download-width: 32px;
@download-height: 32px;
@download-total-width: 201px;
@download-total-height: 200px;
@download-image: '/assets/static/images/sprites/sprites.png';
@download: 142px 32px -142px -32px 32px 32px 201px 200px '/assets/static/images/sprites/sprites.png' download;
@email-name: email;
@email-x: 153px;
@email-y: 93px;
@email-offset-x: -153px;
@email-offset-y: -93px;
@email-width: 16px;
@email-height: 16px;
@email-total-width: 201px;
@email-total-height: 200px;
@email-image: '/assets/static/images/sprites/sprites.png';
@email: 153px 93px -153px -93px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' email;
@exposition_next-name: exposition_next;
@exposition_next-x: 174px;
@exposition_next-y: 24px;
@exposition_next-offset-x: -174px;
@exposition_next-offset-y: -24px;
@exposition_next-width: 11px;
@exposition_next-height: 17px;
@exposition_next-total-width: 201px;
@exposition_next-total-height: 200px;
@exposition_next-image: '/assets/static/images/sprites/sprites.png';
@exposition_next: 174px 24px -174px -24px 11px 17px 201px 200px '/assets/static/images/sprites/sprites.png' exposition_next;
@exposition_prev-name: exposition_prev;
@exposition_prev-x: 142px;
@exposition_prev-y: 93px;
@exposition_prev-offset-x: -142px;
@exposition_prev-offset-y: -93px;
@exposition_prev-width: 11px;
@exposition_prev-height: 17px;
@exposition_prev-total-width: 201px;
@exposition_prev-total-height: 200px;
@exposition_prev-image: '/assets/static/images/sprites/sprites.png';
@exposition_prev: 142px 93px -142px -93px 11px 17px 201px 200px '/assets/static/images/sprites/sprites.png' exposition_prev;
@gear-name: gear;
@gear-x: 0px;
@gear-y: 0px;
@gear-offset-x: 0px;
@gear-offset-y: 0px;
@gear-width: 142px;
@gear-height: 138px;
@gear-total-width: 201px;
@gear-total-height: 200px;
@gear-image: '/assets/static/images/sprites/sprites.png';
@gear: 0px 0px 0px 0px 142px 138px 201px 200px '/assets/static/images/sprites/sprites.png' gear;
@geopoint-name: geopoint;
@geopoint-x: 118px;
@geopoint-y: 138px;
@geopoint-offset-x: -118px;
@geopoint-offset-y: -138px;
@geopoint-width: 16px;
@geopoint-height: 16px;
@geopoint-total-width: 201px;
@geopoint-total-height: 200px;
@geopoint-image: '/assets/static/images/sprites/sprites.png';
@geopoint: 118px 138px -118px -138px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' geopoint;
@geotag-name: geotag;
@geotag-x: 0px;
@geotag-y: 138px;
@geotag-offset-x: 0px;
@geotag-offset-y: -138px;
@geotag-width: 40px;
@geotag-height: 51px;
@geotag-total-width: 201px;
@geotag-total-height: 200px;
@geotag-image: '/assets/static/images/sprites/sprites.png';
@geotag: 0px 138px 0px -138px 40px 51px 201px 200px '/assets/static/images/sprites/sprites.png' geotag;
@grabbing-name: grabbing;
@grabbing-x: 60px;
@grabbing-y: 167px;
@grabbing-offset-x: -60px;
@grabbing-offset-y: -167px;
@grabbing-width: 16px;
@grabbing-height: 16px;
@grabbing-total-width: 201px;
@grabbing-total-height: 200px;
@grabbing-image: '/assets/static/images/sprites/sprites.png';
@grabbing: 60px 167px -60px -167px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' grabbing;
@icon__heart-name: icon__heart;
@icon__heart-x: 105px;
@icon__heart-y: 156px;
@icon__heart-offset-x: -105px;
@icon__heart-offset-y: -156px;
@icon__heart-width: 14px;
@icon__heart-height: 12px;
@icon__heart-total-width: 201px;
@icon__heart-total-height: 200px;
@icon__heart-image: '/assets/static/images/sprites/sprites.png';
@icon__heart: 105px 156px -105px -156px 14px 12px 201px 200px '/assets/static/images/sprites/sprites.png' icon__heart;
@icon__messages-name: icon__messages;
@icon__messages-x: 171px;
@icon__messages-y: 64px;
@icon__messages-offset-x: -171px;
@icon__messages-offset-y: -64px;
@icon__messages-width: 15px;
@icon__messages-height: 15px;
@icon__messages-total-width: 201px;
@icon__messages-total-height: 200px;
@icon__messages-image: '/assets/static/images/sprites/sprites.png';
@icon__messages: 171px 64px -171px -64px 15px 15px 201px 200px '/assets/static/images/sprites/sprites.png' icon__messages;
@language_arrow-name: language_arrow;
@language_arrow-x: 0px;
@language_arrow-y: 189px;
@language_arrow-offset-x: 0px;
@language_arrow-offset-y: -189px;
@language_arrow-width: 25px;
@language_arrow-height: 11px;
@language_arrow-total-width: 201px;
@language_arrow-total-height: 200px;
@language_arrow-image: '/assets/static/images/sprites/sprites.png';
@language_arrow: 0px 189px 0px -189px 25px 11px 201px 200px '/assets/static/images/sprites/sprites.png' language_arrow;
@magnifier-name: magnifier;
@magnifier-x: 162px;
@magnifier-y: 0px;
@magnifier-offset-x: -162px;
@magnifier-offset-y: 0px;
@magnifier-width: 24px;
@magnifier-height: 24px;
@magnifier-total-width: 201px;
@magnifier-total-height: 200px;
@magnifier-image: '/assets/static/images/sprites/sprites.png';
@magnifier: 162px 0px -162px 0px 24px 24px 201px 200px '/assets/static/images/sprites/sprites.png' magnifier;
@parorama-name: parorama;
@parorama-x: 76px;
@parorama-y: 172px;
@parorama-offset-x: -76px;
@parorama-offset-y: -172px;
@parorama-width: 17px;
@parorama-height: 13px;
@parorama-total-width: 201px;
@parorama-total-height: 200px;
@parorama-image: '/assets/static/images/sprites/sprites.png';
@parorama: 76px 172px -76px -172px 17px 13px 201px 200px '/assets/static/images/sprites/sprites.png' parorama;
@person-name: person;
@person-x: 142px;
@person-y: 110px;
@person-offset-x: -142px;
@person-offset-y: -110px;
@person-width: 16px;
@person-height: 16px;
@person-total-width: 201px;
@person-total-height: 200px;
@person-image: '/assets/static/images/sprites/sprites.png';
@person: 142px 110px -142px -110px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' person;
@qr-name: qr;
@qr-x: 89px;
@qr-y: 156px;
@qr-offset-x: -89px;
@qr-offset-y: -156px;
@qr-width: 16px;
@qr-height: 16px;
@qr-total-width: 201px;
@qr-total-height: 200px;
@qr-image: '/assets/static/images/sprites/sprites.png';
@qr: 89px 156px -89px -156px 16px 16px 201px 200px '/assets/static/images/sprites/sprites.png' qr;
@slider_navigate_left-name: slider_navigate_left;
@slider_navigate_left-x: 142px;
@slider_navigate_left-y: 0px;
@slider_navigate_left-offset-x: -142px;
@slider_navigate_left-offset-y: 0px;
@slider_navigate_left-width: 20px;
@slider_navigate_left-height: 32px;
@slider_navigate_left-total-width: 201px;
@slider_navigate_left-total-height: 200px;
@slider_navigate_left-image: '/assets/static/images/sprites/sprites.png';
@slider_navigate_left: 142px 0px -142px 0px 20px 32px 201px 200px '/assets/static/images/sprites/sprites.png' slider_navigate_left;
@slider_navigate_right-name: slider_navigate_right;
@slider_navigate_right-x: 40px;
@slider_navigate_right-y: 138px;
@slider_navigate_right-offset-x: -40px;
@slider_navigate_right-offset-y: -138px;
@slider_navigate_right-width: 20px;
@slider_navigate_right-height: 32px;
@slider_navigate_right-total-width: 201px;
@slider_navigate_right-total-height: 200px;
@slider_navigate_right-image: '/assets/static/images/sprites/sprites.png';
@slider_navigate_right: 40px 138px -40px -138px 20px 32px 201px 200px '/assets/static/images/sprites/sprites.png' slider_navigate_right;
@slider_pagination-name: slider_pagination;
@slider_pagination-x: 186px;
@slider_pagination-y: 0px;
@slider_pagination-offset-x: -186px;
@slider_pagination-offset-y: 0px;
@slider_pagination-width: 15px;
@slider_pagination-height: 15px;
@slider_pagination-total-width: 201px;
@slider_pagination-total-height: 200px;
@slider_pagination-image: '/assets/static/images/sprites/sprites.png';
@slider_pagination: 186px 0px -186px 0px 15px 15px 201px 200px '/assets/static/images/sprites/sprites.png' slider_pagination;
@slider_pagination__active-name: slider_pagination__active;
@slider_pagination__active-x: 185px;
@slider_pagination__active-y: 24px;
@slider_pagination__active-offset-x: -185px;
@slider_pagination__active-offset-y: -24px;
@slider_pagination__active-width: 15px;
@slider_pagination__active-height: 15px;
@slider_pagination__active-total-width: 201px;
@slider_pagination__active-total-height: 200px;
@slider_pagination__active-image: '/assets/static/images/sprites/sprites.png';
@slider_pagination__active: 185px 24px -185px -24px 15px 15px 201px 200px '/assets/static/images/sprites/sprites.png' slider_pagination__active;
@social__instagramm-name: social__instagramm;
@social__instagramm-x: 142px;
@social__instagramm-y: 64px;
@social__instagramm-offset-x: -142px;
@social__instagramm-offset-y: -64px;
@social__instagramm-width: 29px;
@social__instagramm-height: 29px;
@social__instagramm-total-width: 201px;
@social__instagramm-total-height: 200px;
@social__instagramm-image: '/assets/static/images/sprites/sprites.png';
@social__instagramm: 142px 64px -142px -64px 29px 29px 201px 200px '/assets/static/images/sprites/sprites.png' social__instagramm;
@social__vk-name: social__vk;
@social__vk-x: 60px;
@social__vk-y: 138px;
@social__vk-offset-x: -60px;
@social__vk-offset-y: -138px;
@social__vk-width: 29px;
@social__vk-height: 29px;
@social__vk-total-width: 201px;
@social__vk-total-height: 200px;
@social__vk-image: '/assets/static/images/sprites/sprites.png';
@social__vk: 60px 138px -60px -138px 29px 29px 201px 200px '/assets/static/images/sprites/sprites.png' social__vk;
@spritesheet-width: 201px;
@spritesheet-height: 200px;
@spritesheet-image: '/assets/static/images/sprites/sprites.png';
@spritesheet-sprites: @affiche_icon @arrow-down @arrow-up @calendar @call @collection_next @collection_prev @download @email @exposition_next @exposition_prev @gear @geopoint @geotag @grabbing @icon__heart @icon__messages @language_arrow @magnifier @parorama @person @qr @slider_navigate_left @slider_navigate_right @slider_pagination @slider_pagination__active @social__instagramm @social__vk;
@spritesheet: 201px 200px '/assets/static/images/sprites/sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
