//
// Основные элементы струкутуры
// --------------------------------------------------

body {
  background: @body-bg;
}

.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 1155px;
  background-color: @gray-base;
  -webkit-box-shadow: 0 0 15px #bebebe;
  -moz-box-shadow: 0 0 15px #bebebe;
  box-shadow: 0 0 15px #bebebe;
}

.wrapper.toggled {
  padding-left: @sidebar;
}

.divide {
  margin: 18px 0 16px;
  color: #4e4e4e;
  display: block;
  i {
    border-top: 2px solid;
    width: 34px;
    display: block;
  }
  &.extralighter {
    color: @gray-extralighter;
  }
  &.graybase {
    color: @gray-base;
  }
}

.gradient-divide {
  background-size: 100% 121px;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(bottom, #FFF 0%, #c8cbcd 100%);
  background-image: -o-linear-gradient(bottom, #FFF 0%, #c8cbcd 100%);
  background-image: -webkit-linear-gradient(bottom, #FFF 0%, #c8cbcd 100%);
  background-image: linear-gradient(to top, #fff 40%, #c8cbcd 100%);
}

.noisy-bg {
  background: url("/assets/static/images/content/felicin/background.png");
}

// Боковая панель
// -------------------------
.sidebar-wrapper {
  background-color: @gray-base;
  z-index: 1000;
  position: fixed;
  left: @sidebar;
  width: 0;
  height: 100%;
  overflow-y: auto;
  margin-left: -@sidebar;
  .transition(all 0.5s ease);
}

.wrapper.toggled .sidebar-wrapper {
  width: @sidebar;
}

.page-content-wrapper {
  background-color: @content-color;
  width: 100%;
  position: absolute;
}

.wrapper.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -@sidebar;
}

@media(min-width:768px) {
  .wrapper {
    padding-left: @sidebar;
  }

  .wrapper.toggled {
    padding-left: 0;
  }

  .page-content-wrapper {
    position: relative;
    min-height: 1400px;
    overflow: hidden;
  }

  .wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  .sidebar-wrapper {
    width: @sidebar;
    position: absolute;
    overflow-y: inherit;
  }

  .wrapper.toggled .sidebar-wrapper {
    width: 0;
  }
}


// Контент
// -------------------------
.content {
  .inner__content {
    width: 815px;
    margin: 0 auto 40px;
  }
  min-height: 1050px;
  background-color: #f8f8f8;
  padding: 0 50px 40px;
  position: relative;
  p {
    margin: 15px 0;
  }
  h2 {
    font-family: DinCyMdA, arial, sans-serif;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    padding: 15px 0;
  }
  h3 {
    font-family: DinCyMdA, arial, sans-serif;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    padding: 15px 0;
  }
  .img-border {
    border: 1px solid #cfd0d0;
    padding: 9px;
  }
  .img-left {
    margin: 10px 25px 0 0;
  }
  .img-right {
    margin: 0 0 0 15px;
  }
  .alt-external {
    color: #767676;
    font-style: italic;
    line-height: 18px;
  }
  .list-styled {
    margin: 15px 0 15px;
    display: block;
  }
  .list-styled > li {
    background: url("/assets/static/images/content/static/list-item.png") no-repeat 5px;
    list-style-type: none;
    margin: 0;
    padding: 2px 0 2px 18px;
  }
  blockquote {
    border-left: 6px solid #b09241;
    padding-left: 18px;
    line-height: 18px;
    color: #806c37;
    margin: 0;
  }
}

.lead {
  font-family: DinCyLt, arial, sans-serif;
  font-size: 20px;
}

.content__gear {
  background: url("/assets/static/images/content/static/gear-content.png");
  width: 109px;
  height: 139px;
  position: absolute;
  top: 40px;
  right: -50px;
  z-index: 0;
}

.divider {
  .divide {
    text-align: center;
    margin: 0;
    i {
      display: inline-block;
      width: 53px;
    }
  }
}



// Хлебные крошки
// -------------------------
.breadcrumbs {
  text-align: center;
  font-size: 14px;
  a {
    color: #393939;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    &:hover {
      border-bottom: none #aaa;
    }
  }
}

.breadcrumbs__separator {
  padding: 0 5px;
}

// Альтернативная версия Breadcrumbs
.breadcrumbs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    padding: 0;
    margin: 0;
  }
}




// Главный заголовок
// -------------------------
.headline {
  font-family: DinCyMdA, arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  z-index: 1;
  position: relative;
  .divide {
    text-align: center;
    margin: 0;
    i {
      display: inline-block;
      width: 53px;
    }
  }
}



// Подзаголовок
// -------------------------
.subheadline {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  .divide {
    text-align: center;
    margin: 0;
    i {
      display: inline-block;
      width: 53px;
    }
  }
}



// Логотип
// -------------------------

.sb__logo {
  background-color: @gray-darker;
  height: 200px;
  text-align: center;
}

.sb__logo__link {
  display: block;
  width: @sidebar;
  height: 100%;
}

.sb_logo__image {
  margin-top: 13px;
}



// Боковая навигация
// -------------------------
.sb__navigation {
  font-family: DinCyMdA, arial, sans-serif;
  width: @sidebar;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sb__navigation li {
  text-align: center;
  font-size: 15px;
  line-height: 29px;
  text-transform: uppercase;
  &.active {
    a {
      color: @gray;
      &:hover {
        color: @gray;
      }
    }
  }
}

.sb__navigation li a {
  display: block;
  text-decoration: none;
  color: @sidebar-nav-link;
}

.sb__navigation li a:hover {
  text-decoration: none;
  color: @sidebar-nav-link-hover;
}


// Ссылки на соц. сети
// -------------------------

.sb__social-links {
  overflow: hidden;
  text-align: center;
}

.sb__social-link__item {
  background: url("/assets/static/images/sidebar/sociallinks/socialicons.png") no-repeat;
  width: 25px;
  height: 24px;
  margin-right: 2px;
  display: inline-block;
}

.sb__social-link__item:hover {
  background-position-y: -24px;
}

.sb__social-link--fb {
  background-position: 0 0;
}

.sb__social-link--vk {
  background-position: -31px 0;
}

.sb__social-link--tw {
  background-position: -62px 0;
}

.sb__social-link--ok {
  background-position: -93px 0;
}



// Музею 135 лет
// -------------------------

.sb__museum-135-year {
  text-align: center;
}

.sb__museum-135-year__link {
  display: block;
  width: 100%;
  height: 100%;
}



// Контактыне данные в боковой панеле
// -------------------------

.sb__contacts {
  overflow: hidden;
  text-align: center;
}

.sb__contacts__phone {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 24px;
}

.sb__contacts__phone__link {
  color: @sidebar-contact-phone;
}
.sb__contacts__phone__link:hover {
  color: @sidebar-contact-phone;
}

.sb__contacts__address {
  font-family: DinCyMdA, arial, sans-serif;
  text-align: center;
  color: @gray-middle;
  font-size: 15px;
  line-height: 18px;
}

.sb__contacts__opening-hours {
  font-family: DinCyMdA, arial, sans-serif;
  text-align: center;
  color: @gray-middle;
  font-size: 15px;
  line-height: 18px;
}



// Верхняя панель с выбором языка, поиском и т.д.
// -------------------------
.topbar {
  height: 69px;
}



// Тригер меню для мобильных устройств
// -------------------------
.topbar__mobitoggler {
  background: url("/assets/static/images/svg/mobitoggler.svg") no-repeat;
  width: 37px;
  height: 22px;
  margin: 24px 0 0 20px;
  cursor: pointer;
}


// Блок поиска
// -------------------------
.topbar__search {
  background-color: @gray-darker;
  height: 100%;
}

.topbar__search__input-group {
  margin-top: 15px;
  padding-left: 5px;
}

@media (max-width: @screen-xs-max) {
  .topbar__search__input-group {
    margin-top: 20px;
    padding-left: 7px;
  }
}

.topbar__search__input-group__addon {
  .sprite(@magnifier);
  vertical-align: middle;
  display: inline-block;
}


.topbar__search__input-group input {
  font-family: DinCyMdA, arial, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  width: 80%;
  background: @gray-darker;
  border: none;
  padding: 5px 10px;
  position: relative;
  top: 3px;
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &::-moz-placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
  &.placeholder {
    color: #fff;
  }
}

.topbar__search__input-group__submit {
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 5px;
  border: none;
  background: transparent;
}



// Слайдер на главной
// -------------------------
.slider {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0;
  .owl-slider {
//    height: 200px;
  }
  .owl-pagination {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 110px;
    top: 307px;
    list-style-type: none;
    overflow: hidden;
    .owl-page {
      float: left;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 5px;
      cursor: pointer;
      .sprite(@slider_pagination);
      &.active {
        .sprite(@slider_pagination__active);
        display: inline-block;
      }
    }
  }
}

.slider__arrow {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 50%;
  width: 100%;
  a {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
}

.slider__arrow__prev {
  .sprite(@slider_navigate_left);
  left: 26px;
}

.slider__arrow__next {
  .sprite(@slider_navigate_right);
  right: 26px;
}

.slider > .owl-slider {
  padding: 0;
  margin: 0;
}

.slider__slide {
  height: 390px;
  background-position: top left;
  margin: 0;
  padding: 0;
  float: left;width: 100%;
  display: block;
  * {
    position: relative;
  }
  h3 {
    font-family: DinCyMdA, arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 32px;
  }
  p {
    font-family: DinCyRg, arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
  }
}

.slide__hl-gray {
  color: @gray-time;
}

.slide__hl-incrediblelighter {
  color: @gray-incrediblelighter;
}

.slide__hl-lighter {
  color: @gray-base;
  text-shadow: 1px 1px 1px @gray-incrediblelighter;
}


// Выбор языка в верхней панеле
// -------------------------
.topbar__language {
  .clearfix();
  margin-left: 35px;
  margin-top: 15px;
}

.topbar__language__item {
  border: 3px solid #fff;
  padding: 5px 7px 7px;
  position: relative;
  float: left;
}

.topbar__language__item--selected {
  border: 3px solid @gray;
  background-color: #fefefe;
  .topbar__language__item__title {
    border-bottom: none;
    text-decoration: none;
  }
  .topbar__language__item__arrow {
     visibility: visible;
   }
}

.topbar__language__item__title {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 16px;
  color: @gray-darker;
  border-bottom: 1px dotted;
  &:hover {
    color: @gray-middle;
    text-decoration: none;
  }
}

.topbar__language__item__arrow {
  display: inline-block;
  position: absolute;
  right: 50%;
  margin-right: -12px;
  bottom: -11px;
  visibility: hidden;
  .sprite(@language_arrow);
}



// Переход к афише
// -------------------------
.topbar__affiche {
  margin-top: 20px;
}

.topbar__link {
  font-size: 16px;
  outline: none;
  text-decoration: none;
  border-bottom: none;
  &:hover,
  &:active,
  &:focus {
    border-bottom: none;
    text-decoration: none;
  }
}

.topbar__link__title {
  color: @gray-darker;
  border-bottom: 2px solid;
  margin-left: 5px;
  &:hover {
    color: @gray-darker;
    border-bottom: none;
    text-decoration: none;
  }
}

.topbar__affiche__icon {
  display: inline-block;
  .sprite(@affiche_icon);
}


// Переход к виртуальной экскурсии
// -------------------------

.topbar__panorama__icon {
  display: inline-block;
  .sprite(@parorama);
}


// Блок о Фелицине
// -------------------------
.felicin-about {
  background: url("/assets/static/images/content/felicin/background.png");
  h4 {
    font-family: DinCyMd, arial, sans-serif;
  }
}



// Экспозиция
// -------------------------
.exposition {
  height: 212px;
}

.exposition__item {
  position: relative;
  float: left;
  overflow: hidden;
  &:hover {
    img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.exposition__item__image {
  img {
    .transition(all 0.2s ease);
  }
}

.exposition__item__info {
  font-family: DinCyMd, arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: #fff;
  a {
    color: #fff;
  }
  span {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid;
      text-decoration: none;
    }
  }

}

.exposition__item__info--black {
  color: @gray-base !important;
  a {
    color: @gray-base;
  }
}

.exposition__item__info--shadow {
  a {
    text-shadow: 1px 1px 1px @gray;
  }
}

.exposition__description {
  background-color: @gray-incrediblelighter;
  padding-left: 32px;
  height: 212px;
  position: relative;
}

.exposition__arrow {
  margin-top: 31px;
  a {
    display: inline-block;
  }
}

.exposition__arrow__prev {
  .sprite(@exposition_prev);
}

.exposition__arrow__next {
  margin-left: 25px;
  .sprite(@exposition_next);
}

.exposition__headline {
  font-family: DinCyMd, arial, sans-serif;
  color: @gray-base;
}

.exposition__angle-left {
  border: 13px solid transparent;
  border-right: 17px solid @gray-incrediblelighter;
  margin-top: 30px;
  position: absolute;
  display: inline-block;
  content: '';
  left: -30px;
  top: 0;
}

.exposition__more {
  .button__link {
    float: left;
  }
}


// Экспозиция подробное описание
// -------------------------
.exposition-view {
  position: relative;
}

// Экспозиция изображения миниатюры
.exposition-view__thumbnails {
  position: relative;
  .owl-buttons {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    .owl-prev {
      .sprite(@exposition_prev);
      position: absolute;
      left: -25px;
      .hide-text();
    }
    .owl-next {
      .sprite(@exposition_next);
      position: absolute;
      right: -20px;
      .hide-text();
    }
  }
}

.exposition-view__thumbnails__item {
  float: left;
  display: block;
}

// Информация о экспозиции
.exposition-view__announce {
  position: absolute;
  width: 290px;
  padding: 18px 22px;
  background-color: #fff;
  top: 0;
  right: 0;
  max-height: 500px;
}

.exposition-view__announce__hl {
  font-size: 22px;
}

.exposition-view__announce__period-work {
  color: #888;
}

.exposition-view__announce__list {
  li {
    padding: 3px 0;
  }
}


// Мероприятия
// -------------------------

.events {
  position: relative;
}

.events__description {
  position: absolute;
  width: 100%;
}

.events__description__hl {
  font-family: DinCyMd, arial, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.events__description__hl__link {
  color: @content-color;
  &:hover {
    border-bottom: 1px solid;
    color: @content-color;
    text-decoration: none;
  }
  &:active {
    color: @content-color;
  }
}



// Колекции
// -------------------------
.collection {
  height: 212px;
}

.collection__item {
  position: relative;
  float: left;
  &:hover {
    img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.collection__item__image {
  img {
    width: 407px;
    height: 212px;
    .transition(all 0.2s ease);
  }
}

.collection__item__info {
  font-family: DinCyMd, arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      border-bottom: 1px solid;
      text-decoration: none;
    }
  }
}

.collection__headline {
  font-family: DinCyMd, arial, sans-serif;
  color: #f8f8f8;
}

.collection__description {
  background: url("/assets/static/images/content/collection/background.png") no-repeat;
  padding: 0 31px;
  height: 100%;
  position: relative;
}

.collection__arrow {
  margin-top: 31px;
  a {
    display: inline-block;
  }
}

.collection__arrow__prev {
  .sprite(@collection_prev);
}

.collection__arrow__next {
  margin-left: 25px;
  .sprite(@collection_next);
}

.collection__angle-right {
  background: url("/assets/static/images/content/collection/angle.png");
  width: 15px;
  height: 24px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 35px;
  right: -15px;
}

.collection__more {
  .button__link {
    float: left;
  }
}


// Новостной портлет на главной
// -------------------------
.news-portlet {
  position: relative;
  height: 211px;
  padding: 0 31px;
  h4 {
    font-family: DinCyMd, arial, sans-serif;
    a {
      text-decoration: none;
      border: none;
      &:hover {
        border-bottom: 1px solid #aeaeae;
      }
    }
  }
  a {
    color: @gray-dark;
    border-bottom: 1px solid #aeaeae;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
  p {
    position: relative;
    line-height: 18px;
    z-index: 1;
  }
}

.news-portlet__gear {
  .sprite(@gear);
  position: absolute;
  display: inline-block;
  left: 91px;
  bottom: 0;
  z-index: 0;
}



// Список новостей
// -------------------------

.news__item__title {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  height: 100px;
  a {
    color: @gray-dark;
  }
}

.news__item__date {
  color: @gray-lighter;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 15px 10px;
  width: 385px;
  border-bottom: 1px solid @gray-lighter;
}

.news__item {
  margin-bottom: 50px;
}

.news__announce {
  font-family: DinCyLt, arial, sans-serif;
  font-size: 20px;
}

.news__announce-preview {
  a {
    float: left;
  }
}

.news__announce__date {
  color: @gray-lighter;
  text-transform: uppercase;
  font-size: 14px;
  width: 385px;
}



// Социальные сети
// -------------------------
.testimonials {
  padding: 33px 27px;
  h4 {
    font-family: DinCyMd, arial, sans-serif;
  }
}

.testimonial {
  margin-left: -3px;
}

.testimonials__hl__tag {
  color: @gray-middle;
}

// Верхяя часть отзыва (шапка)
.testimonial__head {
  position: relative;
  .clearfix;
}

// Изображение комментирующего
.testimonial__head__avatar {
  float: left;
}

.testimonial__head__avatar {
  img {
    vertical-align: bottom;
  }
}

// Информация о посте
.testimonial__head__profile {
  float: left;
}

.testimonial__head__profile__name {
  font-family: DinCyMd, arial, sans-serif;
  line-height: 16px;
  color: @gray-base;
  font-size: 16px;
  max-width: 260px;
}

// Время оставления комментария
.testimonial__head__profile__time {
  color: @gray-time;
  font-size: 11px;
}

// Лайки и комментарии

.testimonial__head__profile__info {
  span, i {
    font-size: 11px;
    color: @gray-time;
    display: inline-block;
  }
}

.testimonial__head__profile__info__comments {
  i {
    margin-right: 2px;
    vertical-align: top;
  }
}
.icon__messages {
  .sprite(@icon__messages);
}

.testimonial__head__profile__info__likes {
  i {
    margin-right: 2px;
    vertical-align: top;
  }
}
.icon__heart {
  .sprite(@icon__heart);
}

// Иконки социальный сетей
.testimonial__head__origin {
  position: absolute;
  top: 0;
  right: 0;
}

.testimonial__head__origin__vk {
  display: inline-block;
  .sprite(@social__vk);
}

.testimonial__head__origin__instagramm {
  display: inline-block;
  .sprite(@social__instagramm);
}

// Текстовой пост
.testimonial__message {
  line-height: 18px;
}

// Пост с фотографиями
.testimonial__photos {
  overflow: hidden;
}

.tesimonial__more {
  .button__link {
    float: left;
  }
}



// Экспонаты
// -------------------------
.exhibits {
  padding: 33px 27px;
  h4 {
    font-family: DinCyMd, arial, sans-serif;
  }
}

.exhibits__actions {
  .clearfix();
}



// Дополнительная навигация
// -------------------------
.pre-footer {
  padding: 40px 27px 140px;
  background-color: @pre-footer-background;
}

.pf__navigation {
  font-family: DinCyMdA, arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 13px;
    line-height: 29px;
    a {
      color: @pre-footer-color;
      text-transform: uppercase;
      &:hover {
        color: @gray-incrediblelighter;
        text-decoration: none;
      }
    }
  }
}



// Структура
// -------------------------

.structure__map {
  background-color: @gray-incrediblelighter;
  width: 610px;
  height: 450px
}

.structure_slider__load {
  overflow: hidden;
  height: 450px;
}

.structure_slider__wrapper {
  position: relative;
}

// Контролы слайдера

.structure__slider__controls {
 display: none;
}

.structure__slider__control {
  height: 13px;
  width: 100%;
  position: absolute;
}

.structure__slider__control__top {
  background: url("/assets/static/images/content/structure/controls/topshadow.png");
  top: 0;
  a {
    position: relative;
    left: 50%;
    top: -28px;
    margin-left: -@arrow-up-width/2;
    .sprite(@arrow-up);
    display: inline-block;
  }
}

.structure__slider__control__bottom {
  background: url("/assets/static/images/content/structure/controls/bottomshadow.png");
  bottom: 0;
  a {
    position: relative;
    left: 50%;
    bottom: -20px;
    margin-left: -@arrow-down-width/2;
    .sprite(@arrow-down);
    display: inline-block;
  }
}

.structure__item {
  height: 150px;
  overflow: hidden;
}

.structure__item__active {
  background-color: @gray-incrediblelighter;
}

.structure__item__tag__geo {
  display: inline-block;
  margin: 19px 0 0 20px;
  .sprite(@geotag);
  .structure__item__active & {
    background: transparent;
    img {
      visibility: visible;
    }
  }
  img {
    visibility: hidden;
  }
}

.structure__item__description {
  padding: 0 0 0 30px;
}

.structure__item__description__title {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  padding: 0;
  margin: 8px 0 0 0;
  a {
    color: @gray-base;
    text-decoration: none;
    &:hover {
      text-decoration: underline
    }
  }
}

.structure__item__description__information {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #615d5d;
  p {
    margin: 2px 0;
    padding: 5px 0;
  }
}



// Документы и отчётность
// -------------------------
.folder {
  margin-bottom: 40px;
  a {
    background-color: lighten(@gray-middle, 30%);
    position: relative;
    display: block;
    padding: 20px 0;
    margin: 0 10px;
    text-decoration: none;
    .transition(all 0.1s ease);
    .clearfix();
    &:hover {
      background-color: darken(@gray-middle, 15%);
      text-decoration: none;
    }
  }
}

.folder--active {
  a {
      background-color: @gray-middle;
  }

}

.folder__year {
  font-family: DinCyRg, arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: @gray-incrediblelighter;
  font-size: 40px;
  margin: 0 10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  line-height: 50px;
  display: block;
}

.folder__year-label {
  color: @gray-incrediblelighter;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  display: block;
}

.folder__shortcut {
  background-color: inherit;
  position: absolute;
  height: 10px;
  width: 50px;
  top: -10px;
  right: 0;
}

.document {
  margin-bottom: 40px;
  height: 136px;
  a {
    position: relative;
    .transition(all 0.1s ease);
    .box-shadow(1px 2px 3px 0px @gray-lighter);
    margin: 0 10px;
    display: block;
    .clearfix();
    &:hover {
      .document__download {
        opacity: 1;
      }
    }
    &:active {
      left: 1px;
      top: 1px
    }
  }
}

.document__title {
  background-color: lighten(@gray-light, 5%);
  color: @gray-incrediblelighter;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  padding: 7px 10px;
  bottom: 0;
  width: 100%;
  display: block;
}

.document__download {
  .transition(all 0.1s ease);
  background-color: darken(@gray-middle, 15%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

.document__download__label {
  font-family: DinCyLt, arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @gray-incrediblelighter;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.document__download__label__icon {
  .sprite(@download);
  .clearfix;
  display: inline-block;
}



// Наука
// -------------------------

.science-portlet-announce {
  min-height: 240px;
}

.article-portlet {
  height: 212px;
  position: relative;
}

.article-portlet__actions {
  background-color: @gray-incrediblelighter;
  height: 212px;
}

.article-portlet__preview {
  position: relative;
}

.article-portlet__preview__title {
  font-family: DinCyMd, arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: #fff;
  a {
    color: #fff;
  }
  span {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid;
      text-decoration: none;
    }
  }
  .divide {
    padding: 0 !important;
  }
}

.article-portlet__angle-right {
  border: 13px solid transparent;
  border-left: 17px solid @gray-incrediblelighter;
  margin-top: 30px;
  position: absolute;
  display: inline-block;
  content: '';
  right: -30px;
  top: 0;
  z-index: 2;
}

.article-portlet-announce {
  height: 203px;
  .box-shadow(inset 0px -5px 34px -13px @gray-lighter);
  p {
    padding: 0 33px;
  }
  .article-portlet-announce__paragraph:first-letter {
    font-size: 18px;
    font-weight: bold;
  }
}



// Контакты
// -------------------------
.contacts__items {
  padding-left: 20px;
  h4 {
    font-family: DinCyMd, arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: #615d5d;
    margin: 7px 0 16px;
  }
}

.contacts__items__email {
  font-family: DinCyMdA, arial, sans-serif;
}


// Футер
// -------------------------
.footer {
  background-color: @black;
  color: @gray-lighter;
  padding: 15px 27px 5px;
}
