//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across

@black:                  #000;
@gray-base:              #1f1b1c;
@gray-darker:            #2b2a29;
@gray-dark:              #393939;
@gray:                   #545453;
@gray-middle:            #606060;
@gray-light:             #6d6d6d;
@gray-time:              #8c8c8c;
@gray-lighter:           #b5b5b5;
@gray-extralighter:      #bdbdbd;
@gray-incrediblelighter: #e5e5e5;


//## Цвета для кнопок
@button-link-color:      #615d5d;
@button-link-underline-color: #928f8f;


//## Цвета для select`ов
@select-text-color:       #2c2c2c;
@select-background-color: #d4d1ca;

//== Scaffolding
//
//## Settings for some of the most global styles.


//** Основной цвет контента
@content-color:         #fff;
//** Background color for `<body>`.
@body-bg:               #dadada;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            #a68a3f;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

// Цвета элементов в боковой навигации
@sidebar-nav-link:      #9c9b9b;
@sidebar-nav-link-hover:#f7f7f7;

// Цвет телефона контактых данных в боковом меню
@sidebar-contact-phone :@gray-lighter;

// Нижняя навигация (.pre-footer)
@pre-footer-background: #676766;
@pre-footer-color: #a9a9a9;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  DinCyRg, arial, sans-serif, Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~16px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~10px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;



//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
// Временно отлючим респонсив, потом надо тщательно проработать
//@screen-xs:                  480px;
@screen-xs:                  1px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
//@screen-sm:                  768px;
@screen-sm:                  1px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
//@screen-md:                  992px;
@screen-md:                  1px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
//@screen-lg:                  1200px;
@screen-lg:                  1px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         0px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
// Ширина боковой панели
@sidebar:                      240px;




//== Code
//
//##

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@kbd-color:                   #fff;
@kbd-bg:                      #333;

@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;
@pre-scrollable-max-height:   340px;


//== Typography
//
//##

//** Horizontal line color.
@hr-border:                   @gray-lighter;
