//
// Раскрывающийся список
// --------------------------------------------------

.accordion {
  margin-bottom: 15px;
  .clearfix;
}

.accordion--active {
  .accordion__heading {
    background-color: #545453;
    a {
      color: #e6e6e6;
    }
  }
  .accordion__body {
    display: block;
  }
}

.accordion__heading {
  background-color: #cecfcf;
  padding: 11px 15px 11px 74px;
  position: relative;
  overflow: hidden;
  a {
    color: #393939;
  }
}

.accordion__heading__marker {
  background-color: #e5e5e5;
  position: absolute;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  &:before,
  &:after {
    content: "";
    height: 50%;
    border-right: 100px solid #e5e5e5;
    position: absolute;
    right: 0;
  }
  &:before {
    -webkit-transform: skew(28deg,0);
    -ms-transform: skew(28deg,0);
    -o-transform: skew(28deg,0);
    transform: skew(28deg,0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
  }
  &:after {
    -webkit-transform: skew(-28deg,0);
    -ms-transform: skew(-28deg,0);
    -o-transform: skew(-28deg,0);
    transform: skew(-28deg,0);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    bottom: 0;
  }
}

.accordion__heading__marker__counter {
  position: absolute;
  z-index: 2;
  font-style: normal;
  font-size: 25px;
  line-height: 0;
  width: 100%;
  left: 5%;
  text-align: center;
  bottom: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion__heading__title {
  font-size: 16px;
}

.accordion__body {
  display: none;
}

// Деградация стилей для печати

@media print {
  .accordion__heading {
    background: transparent;
    padding: 5px 0;
  }

  .accordion__heading__marker {
    display: none;
  }

  .accordion__body {
    display: block;
  }
}
