//
// Оформление кнопок
// --------------------------------------------------

// Обычные кнопки
// -------------------------
.button {
  border: 2px solid #acaaa7;
  padding: 6px 14px 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: #f8f8f8;
  outline: none;
  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

.button.gray-light {
  border: 2px solid @gray-light !important;
  color: @gray-light;
  &:hover {
    background-color: @gray-light;
    color: #fff;
  }
}

.button--transition {
  .transition(all 0.1s ease);
}



// Кнопки-ссылки
// -------------------------
.button__link {
  border: 2px solid @gray-light;
  padding: 6px 14px 8px;
  display: inline-block;
  vertical-align: middle;
  button {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
  }
}

// Кнопка увеличенная (large)
.button__link--l {
  font-size: 16px;
  padding: 6px 18px 8px;
}

.button__link--transition {
  .transition(all 0.1s ease);
  .button__link__title {
    border-bottom: none;
  }
}

.button__link__title {
  color: @button-link-color;
  display: inline-block;
  border-bottom: 1px solid @button-link-underline-color;
  text-decoration: none;
  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
}

.button__link.gray-light {
  border: 2px solid @gray-light;
  .button__link__title {
    color: #959595;
    &:hover {
      border-color: transparent;
    }
  }
}

.button__link--black {
  border: 2px solid @black;
  .button__link__title {
    color: @gray-darker;
    &:hover {
      border-color: transparent;
    }
  }
  &.button__link--transition {
    &:hover {
      background-color: @black;
      .button__link__title {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
