// Элементы формы
// -------------------------

// Сообщения о результатах

.form__result {
  p {
    padding: 15px;
  }
}

.form__result--success {
  background-color: #dff0d8;
}

.form__result--error {
  background-color: #f2dede;
}

// Текстовые инпуты

.form__input-text {
  font-family: DinCyMdA, arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 6px 7px 8px;
  border: 2px solid #acaaa7;
  font-size: 100%;
  -webkit-appearance: none;
  outline: 0 none;
  .transition(all 0.2s ease);
  &:focus {
    border-color: #2b2a29;
    background-color: #f2f2f2;
    color: #2b2a29;
  }
  &::-webkit-input-placeholder {
    color: #837f7f;
  }
  &:-moz-placeholder {
    color: #837f7f;
  }
  &::-moz-placeholder {
    color: #837f7f;
  }
  &:-ms-input-placeholder {
    color: #837f7f;
  }
  &.placeholder {
    color: #837f7f;
  }
}


// Текстовая область

.form__textarea {
  font-family: DinCyMdA, arial, sans-serif;
  margin: 0;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #acaaa7;
  font-size: 100%;
  -webkit-appearance: none;
  outline: 0 none;
  .transition(all 0.2s ease);
  &:focus {
    border-color: #2b2a29;
    background-color: #f2f2f2;
    color: #2b2a29;
  }
  &::-webkit-input-placeholder {
    color: #837f7f;
  }
  &:-moz-placeholder {
    color: #837f7f;
  }
  &::-moz-placeholder {
    color: #837f7f;
  }
  &:-ms-input-placeholder {
    color: #837f7f;
  }
  &.placeholder {
    color: #837f7f;
  }
}
