// Постраничная навигация
// -------------------------

.paging {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    display: inline-block;
    margin-right: 5px;
  }

  ul li > a {
    border: 2px solid @gray-light;
    color: @button-link-color;
    padding: 6px 14px 8px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    &:hover {
      color: #fff;
      background-color: @gray-light;
      text-decoration: none;
    }
    &.active {
      border: 2px solid @black;
      color: @black;
      &:hover {
        background-color: transparent;
        color: @black;
      }
    }
  }
}

.page__list__title {
  margin-right: 5px;
}

