//
// Оформление контентных изображений
// -------------------------

.picture {
  float: left;
  display: block;
  text-align: center;
  margin: 10px 25px 20px 0;
}

.picture_left {
  float: left;
  margin: 10px 25px 20px 0;
}

.picture_right {
  float: right;
  margin: 10px 0 20px 25px;
}

.picture__image {}

.picture__title {
  font-family: DinCyLt, arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  display: block;
  .clearfix;
}
