// Портлет
// -------------------------

.portlet {
  h4 {
    font-family: DinCyMd, arial, sans-serif;
    text-transform: uppercase;
    padding: 0 33px;
  }
  .divide {
    padding: 0 33px;
  }
  .portlet-more {
    padding: 0 33px;
  }
}
