//
// Оформление блоков из шаблонов-контейнеров
// --------------------------------------------------

.post {
  .clearfix;
  height: 137px;
  .box-shadow(0px 3px 9px -2px @gray-lighter);
  .post__image__date {
    opacity: 1;
    .transition(all 0.3s ease);
  }
  &:hover {
    .post__image__date {
      opacity: 0;
    }
  }
}


//
// Изображение поста
.post__image {
  background-color: lighten(@gray-incrediblelighter, 5%);
  position: relative;
  a {
    color: @gray-incrediblelighter;
  }
}

// Дата мероприятия
.post__image__date {
  background-color: @gray-light;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// День мероприятия
.post__image__date__day {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 70px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  clear: both;
  display: block;
}

// Месяц мероприятия
.post__image__date__month {
  font-family: DinCyRg, arial, sans-serif;
  font-size: 34px;
  line-height: 36px;
  margin-top: 15px;
  text-align: center;
  clear: both;
  display: block;
}


//
// Описание поста
.post__announce {
  height: 137px;
  background-color: lighten(@gray-incrediblelighter, 5%);
  position: relative;
  p {
    margin: 7px 0;
    padding: 0 18px;
  }
}

// Заголовок поста
.post__announce__headline {
  font-family: DinCyMd, arial, sans-serif;
  font-size: 18px;
  a {
    color: #2b2a29;
    border-bottom: 1px solid lighten(#2b2a29, 50%);
    text-decoration: none;
    &:hover {
      border-bottom: none;
    }
  }
}

// Анонс
.post__announce__introtext {
  line-height: 18px;
}

// Стики
.post__stick-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.post__stick {
  padding: 5px 5px 0 5px;
  margin: 0;
  display: inline-block;
  border: 1px solid lighten(@gray-incrediblelighter, 5%);
  &:hover {
    border: 1px solid #acaaa7;
    .box-shadow(0px 3px 9px -2px @gray-lighter);
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

// QR код
.post__stick_qr__icon {
  .sprite(@qr);
  display: inline-block;
  vertical-align: top;
}


//
// Дополнительные информационные виджеты
.post__announce__info {
  font-family: DinCyRg, arial, sans-serif;
  position: absolute;
  color: #6d6d6d;
  bottom: 5px;
  font-size: 12px;
  margin: 7px 0;
  padding: 0 18px;
}

.post__announce__info--block-inner {
  span {
    display: block;
  }
}

// Автор статьи
.post__announce__info__author {
  text-transform: uppercase;
}

.post__announce__info__author__icon {
  .sprite(@person);
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

// Дата события
.post__announce__info__date {
  text-transform: uppercase;
}

.post__announce__info__date__icon {
  .sprite(@calendar);
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

// Адрес события
.post__announce__info__address {
  text-transform: uppercase;
}

.post__announce__info__address__icon {
  .sprite(@geopoint);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}


// Телефон для связи

.post__announce__info__call {
  text-transform: uppercase;
}

.post__announce__info__call__icon {
  .sprite(@call);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}


// Email для связи
.post__announce__info__email {
  text-transform: lowercase;
}

.post__announce__info__email__icon {
  .sprite(@email);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}


// QR код визитка

.post__announce__info__qr {
  text-transform: capitalize;
}

.post__announce__info__qr__icon {
  .sprite(@qr);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
