//
// Оформление селектов
// --------------------------------------------------

.select {
  font-family: DinCyRg, arial, sans-serif;
  background: url("/assets/static/images/components/select/select-arrow.png") no-repeat right center @select-background-color;
  color: @select-text-color;
  height: 39px;
  overflow: hidden;
  width: 240px;
  display: inline-block;
  vertical-align: middle;
  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 35px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    min-width: 268px;
    outline: none;
  }
}
